# Data Manipulation and Analysis
pandas>=2.0.0
numpy>=1.24.0
scipy>=1.10.0

# Web Scraping
requests>=2.30.0
beautifulsoup4>=4.12.0
playwright

# Data Visualization
matplotlib>=3.7.0
seaborn>=0.12.0

# Jupyter Environment (to run .ipynb notebooks)
notebook>=6.5.0
ipykernel>=6.23.0

# Web Dashboard and Interactive Visualization
streamlit>=1.22.0
plotly>=5.14.0

